{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "chrome": "55",
          "edge": "15",
          "firefox": "64",
          "opera": "42"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-macros"
  ]
}
